rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profilepic/{allPaths=**} {
      allow read, write, create, update: if true;
    }
    match /Post_Image/{allpaths=**}{
    	allow read, write, create, update: if true;
    }
    match /Reel_Video/{allpaths=**}{
    	allow read, write, create, update: if true;
    }
  }
}
